# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# PyCharm
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Test and coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Misc
*.swp 